.column {
    float: left;
    text-align: left;
}

.column.vtp {
    width: 10%; 
    font-size: 75%;
    margin-top: 2%;
}

.column.vtpToken {
    width: 15%;
    font-size: 75%;
    margin-top: 2%;
}

.column.action {
    width: 15%;
    font-size: 75%;
    margin-top: 2%;
}

.column.error {
    width: 10%;
    font-size: 75%;
    margin-top: 2%;
}

.column.apr {
    width: 80%;
    font-size: 75%;
    margin-top: 2%;
}

.column.multiUserIncentives {
    width: 80%;
    font-size: 75%;
    margin-top: 2%;
}
