.column {
    float: left;
}

.column.left {
    text-align: left;
    width: 30%;
    margin-top: 3%;
}

.column.middle1 {
    text-align: left;
    width: 25%;
    margin-top: 3%;
}

.column.middle2 {
    text-align: left;
    width: 25%;
    margin-top: 3%;
}

.column.right {
    text-align: left;
    width: 20%;
    margin-top: 3%;
}
