.column {
    float: left;
    text-align: left;

    font-size: 75%;
    margin-top: 2%;
}

.column.vtp {
    width: 10%; 
}

.column.vtpToken {
    width: 15%;
}

.column.action {
    width: 15%;
}


