#exportedData {
    height: 80px;
    overflow-y: scroll;
    word-break: break-all;
}

#exportedDataSelection {
    max-height: 1px;
    max-width: 1px;
}

#executionHistory {
    height: 400px;
    overflow-y: scroll;
    word-break: break-all;
}